@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: rgba(245, 245, 245);
}

.content {
  border-top: 4px solid;
  border-color: indigo;
}
